@import "../../Variables.scss";

.delete-modal{
    header{
        display: flex;
        justify-content: space-between;

        h2{
            color: $white;
            opacity: 0.9;
            font-size: 33px;
            font-weight: 100;
            letter-spacing: 1px;
            margin-top: 10px;
        }
    }

    section{
        h3{
            color: $white;
            opacity: 0.8;
            font-size: 22px;
            font-weight: 100;
            letter-spacing: 0px;
            margin: 40px 0px;
        }
    }

    footer{
        text-align: center;
        padding: 10px;

        .movie-delted-msg{
            background-color: green;
            padding         : 10px 20px;
            border-radius   : $border-radius;
            color           : $darkest-grey;
            font-weight: bold;
        }
    }
}