@import "../../Variables.scss";

.movie-header{
    background-color: $darkest-grey;
    padding: 20px $side-padding 0px $side-padding;
    height: $header-height;

    .movie-container{
        height: calc(#{$header-height} - 75px);
        margin-top: 20px;
        display: flex;
        margin: 10px 70px;

        img{
            height: 100%;
            border-radius: $border-radius;
        }

        .details{
            width: 70%;
            padding: 15px 60px;
            cursor: default;

            .title-score-container{
                display: flex;

                h2{
                    color: $white; 
                    font-size: 34px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    opacity: 0.8;
                }

                .score{
                    border: 1px solid $white;
                    margin: auto;
                    opacity: 0.8;
                    color: $white;
                    padding: 8px 0px;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    text-align: center;


                    span{
                        $font-size: 22px;
                        font-size: $font-size;
                        margin: auto;
                    }
                }
            }

            .tagline{
                color: $white;
                font-size: 16px;
                opacity: 0.4;
            }

            .date-minutes-container{
                display: flex;
                margin: 20px 0px;
                color: $red;
                font-size: 20px;
                font-weight: 100;
                letter-spacing: 1px;

                .runtime{
                    font-size: 20px;
                    margin: 0px 40px;
                }
            }

            .overview{
                color: $white;
                opacity: 0.4;
            }
        }
    }

}