@import "../../Variables.scss";

$card-width: 250px;

.card-container{
    width: $card-width;
    float: left;
    //margin: 20px 20px 20px 0px;
    margin: 20px auto;
    //padding: 0px 10px;
    cursor: pointer;
    
    .image-container{
        width: 100%;
        height: $card-width / 2 * 3;
    }

    img{
        width: 100%;
        border-radius: 8px;
        
    }

    .movie-infos{
        position: relative;
        margin-top: 15px;
        height: 65px;

        .title{
            color: $white;
            max-width: 150px;
            opacity: 0.8;
            font-size: 16px;
            float: left;
            justify-self: center;
            overflow-wrap: break-word
        }
    
        .release-date{
            float: right;
            color: $white;
            padding: 3px 15px;
            opacity: 0.6;
            border: 1px solid $light-grey;
            border-radius: 5px;
            font-size: 13px;
        }   

        .genre{
            position: absolute;
            bottom: 0px;
            left: 0px;
            color: $white;
            opacity: 0.6;
            font-size: 13px;
        }
    }
}