@import "../../Variables.scss";

$card-width: 250px;

.card-container{
    width: $card-width;
    float: left;
    margin: 20px auto;
    cursor: pointer;
    
    .image-container{
        position: relative;
        width: 100%;
        height: $card-width / 2 * 3;

        &:hover{
            .options-icon-container{
                display: block;
            }
        }

        img{
            width: 100%;
            border-radius: 8px;
        }
    
        .options-icon-container{
            position: absolute;
            display: none;
            top: 8px;
            right: 8px;
            border-radius: 50%;
            background-color: $dark-grey;
            width: 30px;
            height: 30px;
            cursor: pointer;
    
            .options-icon{
                font-size: 18px;
                color: $white;
                opacity: 0.8;
                margin: 6px 6px;
            }
        }

        .options-dropdown{
            position: absolute;
            background-color: $dark-grey;
            border-radius: $border-radius;
            width: 150px;
            top: 8px;
            right: 8px;

            .close-icon{
                float: right;
                color: $white;
                font-size: 17px;
                margin: 3px;
                transition: 0.2s;

                &:hover{
                    color: $red;
                }
            }

            :nth-child(2){
                margin-top: 22px;
            }

            p{
                width: 100%;
                text-align: left;
                border-radius: $border-radius;
                color: $white;
                font-size: 15px;
                padding: 5px 25px;
                transition: 0.2s;

                &:hover{
                    background-color: $red;
                }
            }
        }
    }

    .movie-infos{
        position: relative;
        margin-top: 15px;
        height: 65px;

        .title{
            color: $white;
            max-width: 150px;
            opacity: 0.8;
            font-size: 16px;
            float: left;
            justify-self: center;
            overflow-wrap: break-word
        }
    
        .release-date{
            float: right;
            color: $white;
            padding: 3px 15px;
            opacity: 0.6;
            border: 1px solid $light-grey;
            border-radius: 5px;
            font-size: 13px;
        }   

        .genre{
            position: absolute;
            bottom: 0px;
            left: 0px;
            color: $white;
            opacity: 0.6;
            font-size: 13px;
        }
    }
}
