@import "../../Variables.scss";

.add-edit-modal{
    header{
        display: flex;
        justify-content: space-between;

        h2{
            color: $white;
            opacity: 0.9;
            font-size: 33px;
            font-weight: 100;
            letter-spacing: 1px;
            margin: 10px 0px;
        }
    }

    label{
        display: block;
        color: $red;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .movieId{
        color: $white;
        opacity: 0.7;
        font-weight: 400;
        font-size: 17px;
    }

    input{
        width: 100%;
    }

    footer{
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
    }

    .error-message{
        padding: 5px 10px;
        color: $red;
        font-size: 12px;
        font-weight: bold;
    }

    select{
        width: 100%;
    }
}