@import "../../Variables.scss";

.search-header{
    background-color: $mid-grey;
    padding: 20px $side-padding;
    height: $header-height;

    .top-nav{
        display: flex;
        justify-content: space-between;

        .logo{
            color: $red;
            font-size: 18px;
            cursor: default;
        }
    }

    .search-container{
        width: 85%;
        margin: 60px auto;

        h2{
            color: $white;
            margin-bottom: 45px;
            cursor: default;
        }

        .search-input{
            display: grid;
            width: 80%;
        }
    }
}

.top-nav{
    background-color: $mid-grey;
    padding: 20px $side-padding;
    display: flex;
    justify-content: space-between;

    .search-icon{
        color: $red;
        font-size: 25px;
        transition: 0.3s;
        margin: 0px 60px;
        cursor: pointer;

        &:hover{
            transform: scale(1.2);
        }
    }
}