@import "../../Variables.scss";

.header-container{
    background-color: $mid-grey;
    padding: 20px $side-padding;
    height: 300px;

    .top-nav{
        display: flex;
        justify-content: space-between;

        .logo{
            color: $red;
            font-size: 18px;
            cursor: default;
        }
    }

    .search-container{
        width: 85%;
        margin: auto;

        h2{
            color: $white;
            margin: 60px 0px;
            cursor: default;
        }

        .search-input{
            display: grid;
            width: 80%;
        }
    }
    
}