@import "./Variables.scss";

*{
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

button{
    border-radius   : $border-radius;
    border          : none;
    padding         : 10px 0px;
    align-content   : center;
    width           : $button-width;
    color           : $red;
    background-color: $light-grey;
    outline         : none;
    font-size       : 17px;
    transition      : 0.2s;

    &:hover{
        cursor: pointer;
    }

    &.red{
        background-color: $red;
        color           : $white;
    }

    &.red-border{
        background-color: inherit;
        border: 2px solid $red;
        color: $red;
    }
}

input[type=text]{
    background-color: $light-grey;
    border-radius: $border-radius;
    padding: 13px;
    border: 0px;
    outline: none;
    color: $white;
    font-size: 17px;

    &::placeholder{
        color: $white;
        opacity: 0.3;
        transition: 0.2s;
    }

    &:hover::placeholder{
        opacity: 0.7;
    }
}

input[type=date]{
    background-color: $light-grey;
    border-radius: $border-radius;
    padding: 13px;
    border: 0px;
    outline: none;
    color: $white;
    font-size: 17px;

    &::placeholder{
        color: $white;
        opacity: 0.3;
        transition: 0.2s;
    }

    &:hover::placeholder{
        opacity: 0.7;
    }
}

select {
    background-color: $light-grey;
    color: $white;
    border: none;
    padding: 7px 10px;
    border-radius: $border-radius;
    font-size: 16px;
    outline: none;

    &:hover{
        cursor: pointer;
    }
}

.logo{
    color: $red;
    font-size: 18px;
    cursor: default;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-image: url(./Images/blured_background.jpg);
}

.ReactModal__Overlay {
    height: 0px;
    transition: height 350ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    height: 100vh;
}

.ReactModal__Overlay--before-close{
    height: 0px;
}

.modal{
    $width: 800px;

    margin: 60px auto;
    width: $width;
    border-radius: $border-radius;
    border: none;
    outline: none;
    background-color: $dark-grey;
    padding: 20px 80px;

    .close-icon{
        color: $white;
        opacity: 0.6;
        font-size: 32px;
        transition: 0.3s;
        cursor: pointer;

        &:hover{
            transform: scale(1.2);
            opacity: 0.8;
            color: $red;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $dark-grey; 
}

::-webkit-scrollbar-thumb {
    background: $mid-grey; 
    border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:hover {
    background: $light-grey;
}
